<h3> Connect </h3>

<a class="connect-item" rel="me" href="https://mastodon.technology/@fdroidorg">
    <img class="connect-icon" src="{% assets %}/mastodon.svg" alt="mastodon" />
    <div class="connect-label">@fdroidorg@mastodon.technology</div>
</a>
